[submodule "src/kernel/flashinfer"]
	path = src/kernel/flashinfer
	url = https://github.com/blitz-serving/flashinfer.git
	branch = blitz
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/pickle"]
	path = third_party/pickle
	url = https://github.com/blitz-serving/pickle.git
	branch = develop
[submodule "request-sim"]
	path = request-sim
	url = https://github.com/blitz-serving/request-sim.git
